<settings>
	<setting propertyKey="@Properties.pomodoroDuration" title="@Strings.PomodoroDuration">
		<settingConfig type="numeric" min="1" max="25"/>
	</setting>
	<setting propertyKey="@Properties.shortBreakDuration" title="@Strings.ShortBreakDuration">
		<settingConfig type="numeric" min="1" max="25"/>
	</setting>
	<setting propertyKey="@Properties.longBreakDuration" title="@Strings.LongBreakDuration">
		<settingConfig type="numeric" min="1" max="45"/>
	</setting>
	<setting propertyKey="@Properties.pomodorosBeforeLongBreak" title="@Strings.PomodorosBeforeLongBreak">
		<settingConfig type="numeric" min="1" max="10"/>
	</setting>
	<setting propertyKey="@Properties.vibrateOnChange" title="@Strings.VibrateOnChange">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.soundOnChange" title="@Strings.SoundOnChange">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.readyColor" title="@Strings.ReadyColor">
		<settingConfig type="list">
            <listEntry value="0">@Strings.Blue</listEntry>
            <listEntry value="1">@Strings.Green</listEntry>
			<listEntry value="2">@Strings.Orange</listEntry>
			<listEntry value="3">@Strings.Pink</listEntry>
			<listEntry value="4">@Strings.Red</listEntry>
			<listEntry value="5">@Strings.White</listEntry>
			<listEntry value="6">@Strings.Yellow</listEntry>
        </settingConfig>
	</setting>
	<setting propertyKey="@Properties.pomodoroColor" title="@Strings.PomodoroColor">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Blue</listEntry>
            <listEntry value="1">@Strings.Green</listEntry>
			<listEntry value="2">@Strings.Orange</listEntry>
			<listEntry value="3">@Strings.Pink</listEntry>
			<listEntry value="4">@Strings.Red</listEntry>
			<listEntry value="5">@Strings.White</listEntry>
			<listEntry value="6">@Strings.Yellow</listEntry>
        </settingConfig>
	</setting>
	<setting propertyKey="@Properties.breakColor" title="@Strings.BreakColor">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Blue</listEntry>
			<listEntry value="1">@Strings.Green</listEntry>
			<listEntry value="2">@Strings.Orange</listEntry>
			<listEntry value="3">@Strings.Pink</listEntry>
			<listEntry value="4">@Strings.Red</listEntry>
			<listEntry value="5">@Strings.White</listEntry>
			<listEntry value="6">@Strings.Yellow</listEntry>
        </settingConfig>
	</setting>
</settings>
