<settings>
	<setting propertyKey="@Properties.pomodoroDuration" title="@Strings.PomodoroDuration">
		<settingConfig type="numeric" min="1" />
	</setting>
	<setting propertyKey="@Properties.shortBreakDuration" title="@Strings.ShortBreakDuration">
		<settingConfig type="numeric" min="1" />
	</setting>
	<setting propertyKey="@Properties.longBreakDuration" title="@Strings.LongBreakDuration">
		<settingConfig type="numeric" min="1" />
	</setting>
	<setting propertyKey="@Properties.pomodorosBeforeLongBreak" title="@Strings.PomodorosBeforeLongBreak">
		<settingConfig type="numeric" min="1" />
	</setting>
	<setting propertyKey="@Properties.vibrateOnChange" title="@Strings.VibrateOnChange">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.soundOnChange" title="@Strings.SoundOnChange">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.readyColor" title="@Strings.ReadyColor">
		<settingConfig type="list" readonly="true">
			<listEntry value="5">@Strings.White</listEntry>
        </settingConfig>
	</setting>
	<setting propertyKey="@Properties.pomodoroColor" title="@Strings.PomodoroColor">
		<settingConfig type="list" readonly="true">
			<listEntry value="5">@Strings.White</listEntry>
        </settingConfig>
	</setting>
	<setting propertyKey="@Properties.breakColor" title="@Strings.BreakColor">
		<settingConfig type="list" readonly="true">
			<listEntry value="5">@Strings.White</listEntry>
        </settingConfig>
	</setting>
</settings>
